AEMOUD_0924/AEMOUD_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE NG_orarend[
    <!ELEMENT NG_orarend (ora)*>

    <!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
    <!ATTLIST ora id ID #REQUIRED>
    <!ATTLIST ora tipus CDATA #IMPLIED>

    <!ELEMENT targy (#PCDATA)>
    <!ELEMENT idopont>
    <!ELEMENT helyszin(#PCDATA)>
    <!ELEMENT oktato(#PCDATA)>
    <!ELEMENT szak(#PCDATA)>


]>